                        @media only screen and (min-width: 1028px) {
                            main {
                                grid-template-columns: 1fr 1fr;
                            }
                            div:nth-child(3) {
                                grid-column: span 1;
                            }
                        }