                @media only screen and (min-width: 560px) {
                    main {
                        grid-template-columns: 1fr 1fr 1fr;
                    }
                    div :nth-child(2) {
                        display: block;
                    }
                    div :nth-child(3) {
                        grid-column: span 2;
                    }
                }