    main {
        padding: 1rem 2%;
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 1.5em;
        justify-items: center;
    }
    
    header,
    footer,
    body {
        background-color: cornflowerblue;
        text-align: center;
        color: #eee;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    header h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2.5rem;
        text-align: center;
    }
    
    .column {
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.8);
        border-radius: 10px;
        margin: 10px 0px;
        padding: 15px;
        min-width: 0;
        max-width: 100%;
    }
    
    p {
        display: block;
        text-align: center;
        color: blue;
    }